- soysaltan.com
- Soysal Tan kişisel websitesi olacak
- İçerik olarak yazılım, devops, cyber security olacak
- Tasarım modern olsun yeni yaklaşımları benimse
- Kodlama dili HTML, CSS, JS olacak
- Tailwind kullanılacak
- Soysal Tan olarak PHP, Laravel, alanlarında bilgim var
- Tasarım çizgisi Apple gibi olsun
